/* Fuentes */
@font-face {
    font-family: logoSNK;
    src: url(file:///C:/Users/dpita/Programacion/BootcampFSDeveloper/Proyectos/GeeksHubs/ConsolaNEOGEO/fonts/logoSnk.ttf);
}

@font-face {
    font-family: neoGeo;
    src: url(file:///C:/Users/dpita/Programacion/BootcampFSDeveloper/Proyectos/GeeksHubs/ConsolaNEOGEO/fonts/neogeo.otf);
}

@font-face {
    font-family: neoGeoX;
    src: url(file:///C:/Users/dpita/Programacion/BootcampFSDeveloper/Proyectos/GeeksHubs/ConsolaNEOGEO/fonts/NEOGEOX.otf);
}

/* Contenedor e Hijos */

.base {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 27.5em;
    width: 62.5em;
    border: solid;
    border-radius: 3.125em;
    box-shadow: 25px 25px 20px 0px rgba(0,0,0,0.75);
    
}

#logoSNK {
    font-family: logoSNK;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 0px;
    color: white;
    background-color: black;
    height: 1.25em;
    width: 3.750em;
    margin-top: 0.5em;
    margin-left: 1.563em;
    text-align: center;
}

.baseIzquierda {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 27.500em;
    width: 11.875em;
    border: none;
    border-radius: 3.125em 0 0 3.125em;

}

.baseCentro {
    color: white;
    height: 27.500em;
    width: 38.75em;
}

.baseDerecha {
    background-color: black;
    color: white;
    height: 27.500em;
    width: 11.875em;
    border: none;
    border-radius: 0 3.125em 3.125em 0;
}

/* DIVS Hijos de la parte Izquierda */

#borderExtPad {
    height: 9.375em;
    width: 9.375em;
    margin-top: 0.625em;
    margin-left: 0.750em;
    border: 0.625em;
    border-style: double;
    background: linear-gradient(to right, silver, grey, white, silver );
    border-radius: 50%;
    z-index: 0;
}

#extPad {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 9.375em;
    width: 9.375em;
    border-radius: 50%;
    z-index: 1;
}

#interiorPad {
    background-color: grey;
    height: 7em;
    width: 7em;
    margin-top: 1.125em;
    margin-left: 1.125em;
    border: 0.625em;
    border-radius: 50%;
    background: rgb(230,230,230);
    background: linear-gradient(140deg, rgba(230,230,230,1) 12%, rgba(25,25,25,1) 30%, rgba(20,20,20,1) 65%, rgba(87,87,87,1) 80%); 
}

.space {
    color: black;
    height: 4em;
}

#menuText {
    font-family: neoGeo;
    color: burlywood;
    text-align: end;
    width: 11em;
}

.controlButton {
    background-color: black;
    height: 1.5em;
    width: 3em;
    margin-top: 0.250em;
    margin-left: 8em;
    border: 0.250em solid white;
    border-style: inset;
    border-radius: 1.250em;
}

#bassLeft {
    background-color: #656f7b;
    height: 1em;
    width: 4em;
    margin-top: 2em;
    margin-left: 7.8em;
    border-radius: 1.250em;
}

/* DIVS Hijos de la parte central */

#screen {
    background-image: url(file:///C:/Users/dpita/Programacion/BootcampFSDeveloper/Proyectos/GeeksHubs/ConsolaNEOGEO/img/img3.jpg);
    background-size: cover;
    height: 22.500em;
    width: 36.250em;
    margin-top: 1.250em;
    margin-left: 1.250em;
}

#logoNeoGeoX {
    font-family: neoGeoX;
    font-size: xx-large;
    color: burlywood;
    text-align: center;
    height: 1.5em;
    width: 15em;
    margin-top: 0.40em;
    margin-left: 2.2em;
}

#copyright {
    font-family: neoGeo;
    font-size: x-small;
    height: 1em;
    width: 1em;
    margin-left: 29.7em;
    margin-top: -3.4em;
}

/* DIVS Hijos de la parte derecha */

.actionButton {
    background: rgb(233,233,233);
    background: linear-gradient(140deg, rgba(233,233,233,1) 0%, rgba(80,80,80,1) 30%, rgba(0,0,0,1) 43%); 
    font-family: neoGeo;
    font-size: 1.5em;
    color: burlywood;
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    margin-left: 2.5em;
    border: 0.125em solid grey;
    border-style: inset;
    border-radius: 50%;
    z-index: 1;
}

#D {
    background: rgb(233,233,233);
    background: linear-gradient(140deg, rgba(233,233,233,1) 0%, rgba(80,80,80,1) 30%, rgba(0,0,0,1) 43%); 
    font-family: neoGeo;
    font-size: 1.5em;
    color: burlywood;
    margin-top: 0.2em;
    border-radius: 50%;
}

#A {
    background: rgb(233,233,233);
    background: linear-gradient(140deg, rgba(233,233,233,1) 0%, rgba(80,80,80,1) 30%, rgba(0,0,0,1) 43%); 
    font-family: neoGeo;
    font-size: 1.5em;
    color: burlywood;
    margin-top: 0.2em;
    border-radius: 50%;
}

#position {
    display: flex;
    height: 3.5em;
    width: 11em;
    margin-bottom: 0.6em;
    z-index: 0;
}

.actionButton2 {
    flex-direction: row;
    background: rgb(233,233,233);
    background: linear-gradient(140deg, rgba(233,233,233,1) 0%, rgba(80,80,80,1) 30%, rgba(0,0,0,1) 43%);
    font-family: neoGeo;
    font-size: 1.5em;
    color: burlywood;
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    border: 0.125em solid grey;
    border-style: inset;
    border-radius: 50%;
}

#C {
    background: rgb(233,233,233);
    background: linear-gradient(140deg, rgba(233,233,233,1) 0%, rgba(80,80,80,1) 30%, rgba(0,0,0,1) 43%); 
    font-family: neoGeo;
    font-size: 1.5em;
    color: burlywood;
    margin-top: 0.2em;
    border-radius: 50%;
}

#B {
    background: rgb(233,233,233);
    background: linear-gradient(140deg, rgba(233,233,233,1) 0%, rgba(80,80,80,1) 30%, rgba(0,0,0,1) 43%); 
    font-family: neoGeo;
    font-size: 1.5em;
    color: burlywood;
    margin-top: 0.2em;
    border-radius: 50%;
}

#centerSpace {
    color: white;
    margin-left: 0.3em;
    height: 3.5em;
    width: 1em;
}

#startText {
    font-family: neoGeo;
    color: burlywood;
    text-align: start;
    width: 11em;
    margin-top: 1.5em;
    margin-left: 0.6em;
}

#startButton {
    background-color: black;
    height: 1.5em;
    width: 3em;
    margin-top: 0.250em;
    margin-left: 0.2em;
    border: 0.250em solid white;
    border-style: inset;
    border-radius: 1.250em;
}

#bassRight {
background-color: #656f7b;
height: 1em;
width: 4em;
margin-top: 2em;
border-radius: 1.250em;
}